*-init.clj
.clj-kondo/
.cljs_node_repl
.idea/azure/
.idea/codestream.xml
.idea/dictionaries/
.idea/libraries/
.idea/workspace.xml
.lein-failures
.nrepl-port
.remarkrc.js
.shadow-cljs/
/out
karma.conf.js
node_modules/
out
package.json
pom.xml
project.edn
shadow-cljs.edn
target/
tests.edn
trace.edn
