.*
pom.xml
target
*.iml
!.git*
!/.circleci/config.yml
!/.idea/codeStyles/
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml
!/.idea/compiler.xml
!/.idea/inspectionProfiles
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/vcs.xml
