*-init.clj
*.iml
.clj-kondo/
.cljs_node_repl
.idea/dictionaries/
.idea/libraries/
.idea/workspace.xml
.lein-failures
.nrepl-port
.shadow-cljs/
/out
node_modules/
package.json
pom.xml
project.edn
target/
tests.edn
trace.edn
